---
import Base from "../layouts/base.astro";
---

<Base>
  <main
    class="max-w-6xl mx-auto px-4 py-16 grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-16"
  >
    <section>
      <h1 class="text-2xl font-bold text-center mb-4">🚨 Notice 🚨</h1>
      <div class="text-lg text-center flex flex-col gap-0 items-center">
        <span class="m-2" data-notation="bracket" data-notation-color="#ff5733"
          >Low Pay.</span
        >
        <br />
        <span class="m-2" data-notation="bracket" data-notation-color="#33aaff"
          >Long Hours.</span
        >
        <br />
        <span class="m-2" data-notation="bracket" data-notation-color="#ff33aa"
          >High Stress.</span
        >
        <br />
        <span class="m-2" data-notation="bracket" data-notation-color="#33ff88"
          >High Chance of Failure.</span
        >
        <br />
        Make It Through and Have <span
          class="m-2 font-bold px-2"
          data-notation="highlight"
          data-notation-color="#52387b44">The Time Of Your Life.</span
        >
      </div>
    </section>
    <section>
      <h2 class="font-doto text-lg mb-2">
        <span class="m-2" data-notation="box" data-notation-color="#e62753"
          >Join Us</span
        >
      </h2>
      <h2 class="font-doto text-xl">Dead Or Alive</h2>
      <h1 class="font-doto text-2xl mb-4">
        Co-Founders & Founding Engineers Wanted
      </h1>
      <p class="text-lg">
        We are <span
          class="m-2"
          data-notation="underline"
          data-notation-color="#9e4058">pre-pre-seed</span
        >. Barely any revenue.
        <br />
        But if you're looking for a wild ride, this is it.
      </p>
      <p class="text-lg">
        Contact <a
          href="mailto:vaishnav@trustd.sh"
          class="text-blue-500 hover:underline">vaishnav@trustd.sh</a
        >.
      </p>
    </section>
  </main>
</Base>
