---
import Base from "../layouts/base.astro";
import { pages } from "../configs/pages";
---

<Base>
  <main class="max-w-6xl mx-auto px-4 py-16 flex flex-col gap-8 md:gap-16">
    <section>
      <h2 class="font-doto text-lg mb-2">
        <span data-notation="box" data-notation-color="#e62753">TrustD</span>
      </h2>
      <h1 class="font-doto text-2xl mb-4">
        No-Nonsense
        <a class="hover:cursor-pointer" href={pages.license.path}
          ><span
            class="mx-2"
            data-notation="bracket"
            data-notation-color="#aaaaff"
            data-notation-hover-color="#6666ff">Source Available</span
          ></a
        >
        <a class="hover:cursor-pointer" href={pages.about.path}
          ><span class="mx-2">Universal Access Control</span></a
        >
        <br />
        <a class="hover:cursor-pointer" href={pages.audit.path}
          ><span
            class="mx-2"
            data-notation="underline"
            data-notation-color="#52387b88"
            data-notation-hover-color="#52387b">Governance</span
          ></a
        >
        and
        <a class="hover:cursor-pointer" href={pages.secure.path}
          ><span
            class="mx-2"
            data-notation="underline"
            data-notation-color="#9e405888"
            data-notation-hover-color="#9e4058">Enforcement</span
          ></a
        >
      </h1>
    </section>
    <section>
      <h1 class="text-2xl">😖️ Documentation Coming Soon!</h1>
      <h3 class="text-lg">
        We know you're disappointed, so enjoy this XKCD Comic instead:
      </h3>
      <a
        href="https://xkcd.com/1343/"
        target="_blank"
        referrerpolicy="no-referrer"
        ><img
          src="https://imgs.xkcd.com/comics/manuals.png"
          alt="xkcd comic about manuals"
          class="w-full max-w-2xl"
        /></a
      >
    </section>
  </main>
</Base>
