---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & { external?: boolean };

const { href, class: className, external, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  rel={external ? "noreferrer" : ""}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    text-decoration: underline;
  }
</style>
