---
const today = new Date();
import FooterBox from "./footer/dashed-box.astro";
---

<footer class="py-16 px-2 md:px-4 max-w-4xl mx-auto">
  <nav class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
    <FooterBox>
      <h2 class="text-lg underline font-doto pb-3">Company</h2>
      <ul class="list-none pl-0">
        <li><a href="/about">About</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </FooterBox>
    <FooterBox>
      <h2 class="text-lg underline font-doto pb-3">Product</h2>
      <ul class="list-none pl-0">
        <li><a href="/product/audit">TrustD Audit</a></li>
        <li><a href="/product/secure">TrustD Secure</a></li>
        <li><a href="/product/pricing">Pricing</a></li>
      </ul>
    </FooterBox>
    <FooterBox>
      <h2 class="text-lg underline font-doto pb-3">Resources</h2>
      <ul class="list-none pl-0">
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/contact">Support</a></li>
      </ul>
    </FooterBox>
    <FooterBox>
      <h2 class="text-lg underline font-doto pb-3">Open Source</h2>
      <ul class="list-none pl-0">
        <li><a href="https://github.com/trustdsh">GitHub</a></li>
        <li><a href="#">Discord</a></li>
      </ul>
    </FooterBox>
  </nav>
  <div class="border border-dashed border-t-0 p-2">
    <div class="flex flex-col md:flex-row items-center justify-left">
      <a
        class="not-first:border-t md:not-first:border-l md:not-first:border-t-0 not-first:border-gray-300 px-2"
        href="/legal/privacy">Privacy</a
      >
      <a
        class="not-first:border-t md:not-first:border-l md:not-first:border-t-0 not-first:border-gray-300 px-2"
        href="/legal/terms">Terms</a
      >
      <a
        class="not-first:border-t md:not-first:border-l md:not-first:border-t-0 not-first:border-gray-300 px-2"
        href="/legal/cookies">Cookies</a
      >
    </div>
    <span class="text-gray-800">
      &copy; {today.getFullYear()} Accessing, Inc. All rights reserved.
    </span>
  </div>
</footer>
