---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./base.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"legal">["data"];

const { title, pubDate, updatedDate } = Astro.props;
---

<BaseLayout>
  <main class="container p-4 md:p-8 md:max-w-4xl mx-auto">
    <article>
      <h1 class="text-2xl mb-4">{title}</h1>
      <p class="text-gray-600 mb-4">
        <FormattedDate date={pubDate} />
        <span class="ml-2 text-gray-500">
          (Last updated: <FormattedDate date={updatedDate} />)
        </span>
      </p>
      <hr class="border-t-2 border-dashed my-4" />
      <div class="legal-markdown">
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
